/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
html {
  background-image: url(img/bg.jpg);
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5%;
  margin-right: 5%;
}

* {
  font-family: "helvetica", arial, sans-serif;
}

#logo {
  padding: 25px 0px;
}

#site_header {
  background-color: #ff8523;
  height: 95px;
  padding: 10px;
}

.main_navigation a {
  font-size: 12px;
  padding: 5px 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
}

body {
  display: block;
  width: 100%;
  border: 2px solid #ffd24a;
  border-radius: 4px;
}

#page_content {
  background-color: white;
  padding: 10px;
}

h2 {
    font-size: 21;
    color: #1fabe5;
}

h3 {
    font-size: 14;
    color: #1fabe5;
}

section {
  padding: 15px;
}

section p {
  font-size: 12px;
}

section:nth-child(2) {
  border-top: 2px solid #dddddd;
  border-bottom: 2px solid #dddddd;
  font-size: 12px:
}

table {
  width: 100%;
  font-size: 12;
  border-spacing: inherit;
  text-align: left;
  border: 2px solid #046c97;
  table-layout: auto;
  border-collapse: collapse;
}

thead{
  background-color: #1fabe5;
  color: white;
}

td {
  border: 2px solid #046c97;
}

.name {

}

.city_container {
  padding: 5px 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
  width: 100%;
  border-radius: 4px;
}

.submit_container #submit_button{
  background-color: #1fabe5;
  color: white;
  font-size: 12px;
  padding: 5px 20px;
  border: 1px solid white;
  text-decoration: none;
  color: white;
  margin-top: 25px;
  margin-bottom: 15px;
}
